---
- name: Check mandatory variables are defined
  ansible.builtin.assert:
    that:
      - pve_api_token_secret is defined | bool
      - pve_api_token_id is defined
      - pve_api_password is defined
      - pve_guest_password is defined
    success_msg: VALUES ARE set
    fail_msg: VALUE is not set.  Create a vault-encrypted value
