---
- name: pve_template_automated | Set Template Type
  ansible.builtin.set_fact:
    pve_template_template_type: "{{ 'lxc' if template_type == 'lxc' else 'qemu' }}"
  register: template_type_set

- name: pve_template_automated | Print Template Type Set
  ansible.builtin.debug:
    var: pve_template_template_type
  when:
    - template_type_set is defined

- name: pve_template_automated | Set Template
  ansible.builtin.set_fact:
    pve_template_selected_template: "{{ pve_template_cloud_images | dict2items | select('search', template_name) | combine }}"
  when:
    - pve_template_template_type is defined

- name: pve_template_automated | Print Template Selection
  ansible.builtin.debug:
    msg: "Selection: {{ pve_template_selected_template.value.dist_name ~ '-' ~ pve_template_selected_template.value.dist_release }} ({{ pve_template_template_type
      }})"
  when:
    - pve_template_selected_template is defined
